
DESTINATION_FOLDER = ''
DEFAULT_DAILY_LIMIT = 14
DEFAULT_WEEKLY_LIMIT = 6
DEFAULT_MONTHLY_LIMIT = 12


hosts = {
    'HOSTNAME': {
        'ip': '',
        'username': '',
        'password': '',
    },
}


backups = [
    {
        'name': '',
        'hostname': '',
        'location': '',
        'destination': '',
        'daily_limit': '',
        'weekly_limit': '',
    }
]
